* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(100, 99, 99);
}

/*
Note: It will take only space which its content requires, not more than that. 
.container {
  display: inline;
  width: 100px; No effect of width.
  height: 100px; No effect of width.
  border: 1px solid rgb(100, 99, 99);
}
*/

/* 
Note: It will take only space which its assigned with, no matter how big or less the content is. 

.container {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(100, 99, 99);
}

#box-1 {
  width: 300px;
}
  */
